function Main.main 1
push constant 80
push constant 82
call Jet.new 2
pop local 0
push local 0
call Jet.move_up 1
pop temp 0
push local 0
call Jet.move_up 1
pop temp 0
push local 0
call Jet.move_up 1
pop temp 0
push local 0
call Jet.move_left 1
pop temp 0
push local 0
call Jet.move_left 1
pop temp 0
push local 0
call Jet.move_left 1
pop temp 0
push local 0
call Jet.move_down 1
pop temp 0
push local 0
call Jet.move_down 1
pop temp 0
push local 0
call Jet.move_down 1
pop temp 0
push local 0
call Jet.move_right 1
pop temp 0
push local 0
call Jet.move_right 1
pop temp 0
push local 0
call Jet.move_right 1
pop temp 0
push constant 0
return
